@charset "UTF-8";
body{
	background-color: white;	
	margin: 0px;
}
#warp{
	width: 1920px;
	background-color: white;
	margin: auto;
	height:1770px;
	display: flex;
}
#Category{
	width: 417px;
	height:1770px;
	background-color: #03BDFF;
}
#main{
	width: 1503px;
	text-align: center;
}
#top{
	height: 110px;
	border-bottom: 1px solid #18A4FF ;
}
#main .title{
	width:1000px;
	height: 150px;
	font-size: 24pt;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: blue;
	margin: auto;
}
#main .SearchWindow{
	width:1000px;
	height: 50px;
	margin: auto;
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
}
#main .total{
	width:1000px;
	height: 50px;
	margin: auto;
	text-align: left;
	font-size: 10pt;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}