@charset "UTF-8";

img {
	overflow: hidden;
	height: 100%;
 	background-repeat: no-repeat;
    background-position: center; /* 이미지를 가로 및 세로로 중앙에 배치 */
}
h2{
	font-size: 30px;
	margin: 0px;
	margin-top: 20px;
}
.mainTextBox h2{
	font-size:46px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.mainTextBox2 h2{
	font-size:46px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.mainTextBox3 h2{
	font-size:46px;
	margin-top: 0px;
	margin-bottom: 20px;
}

hr {
	margin: 20px 0px;
	border: none;
	border-top: 1px solid rgba(128, 128, 128, 0.3);
	/* 회색(128, 128, 128)의 30% 투명도 설정 */
}

.mainOverflowBox {
	width: 100%;
/* 	position: relative; */
		overflow: hidden;
	z-index: 100;
}

.overflow {
	width: 100%;
	/* 	padding: 20px 10px; */
/* 	overflow: hidden; */
	position: relative;
	z-index: 100;
}

.sportsAreaBox {
	display: flex;
	width: max-content; /* 컨테이너의 최대 너비를 이미지박스들의 너비 합으로 설정 */
	white-space: nowrap; /* 이미지박스들을 가로로 나열하도록 설정 */
	z-index: 100;
}

.slideshow-container {
	position: relative;
/* 	width: 100%; */
	width: 300px;
	overflow: hidden;
	margin: 10px;
	z-index: 100;
}

.slideshow-container2 {
	position: relative;
	width: 300px;
	overflow: hidden;
	margin: 10px;
	z-index: 100;
}

.slideshow-container3 {
	position: relative;
	width: 300px;
	overflow: hidden;
	margin: 10px;
	z-index: 100;
}

.slide {
/* 	width: 40px; */
	width: 45%;
	padding-bottom: 30px;
	float: left;
	z-index: 100;
}

.slide2 {
	width: 45%;
	padding-bottom: 30px;
	float: left;
	z-index: 100;
}

.slide3 {
	width: 30%;
	padding-bottom: 30px;
	float: left;
	z-index: 100;
}

.content {
	border-radius: 18px;
	width: 300px;
	height: 300px;
	text-align: center;
	overflow: hidden;
	z-index: 100;
}
/**/
.mainTextBox{
	display: none; width : 1308px;
	height: 260px;
	padding: 30px 30px;
	background-color: white;
	border: 1px solid #c0c0c0;
	border-radius:20px;
	position: absolute; /* 절대 위치 지정 */
	top: 75%;
	z-index: 9999;
	
	font-size: 28px;
	
	 /* 이미지가 가로로 늘어나지 않고 원래 크기로 유지됨 */
	    background-size: cover;
    /* 이미지를 페이지의 오른쪽에서 시작하도록 설정 */
    background-position: right center;
    /* 배경 이미지가 페이지 내에서 반복되지 않음 */
    background-repeat: no-repeat;
    
    white-space: pre; /* 개행 문자(\A)를 인식하도록 설정 */
    line-height: 45px;
}
/**/
.mainTextBox2{
	display: none; width : 1308px;
	height: 260px;
	padding: 30px 30px;
	background-color: white;
	border: 1px solid #c0c0c0;
	border-radius:20px;
	position: absolute; /* 절대 위치 지정 */
	top: 75%;
	z-index: 9999;
	
	font-size: 28px;
	
	 /* 이미지가 가로로 늘어나지 않고 원래 크기로 유지됨 */
	    background-size: cover;
    /* 이미지를 페이지의 오른쪽에서 시작하도록 설정 */
    background-position: right center;
    /* 배경 이미지가 페이지 내에서 반복되지 않음 */
    background-repeat: no-repeat;
    
    white-space: pre; /* 개행 문자(\A)를 인식하도록 설정 */
    line-height: 45px;
}
/**/
.mainTextBox3{
	display: none; width : 1308px;
	height: 260px;
	padding: 30px 30px;
	background-color: white;
	border: 1px solid #c0c0c0;
	border-radius:20px;
	position: absolute; /* 절대 위치 지정 */
	top: 75%;
	z-index: 9999;
	
	font-size: 28px;
	
	 /* 이미지가 가로로 늘어나지 않고 원래 크기로 유지됨 */
	    background-size: cover;
    /* 이미지를 페이지의 오른쪽에서 시작하도록 설정 */
    background-position: right center;
    /* 배경 이미지가 페이지 내에서 반복되지 않음 */
    background-repeat: no-repeat;
    
    white-space: pre; /* 개행 문자(\A)를 인식하도록 설정 */
    line-height: 45px;
}
.noneText{
	display: none;
}
.noneImg{
	display: none;
}
.dtext{
	font-size: 20px;
}
.a {
	display:none;
	height:0px;
	margin-bottom: 240px;
}
.a2 {
	display:none;
	height:0px;
	margin-bottom: 240px;
}
.a3 {
	display:none;
	height:0px;
	margin-bottom: 240px;
}