@charset "UTF-8";

@font-face {
	font-family: 'SUIT-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SUIT-Medium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SUIT-Medium.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SUIT-SemiBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SUIT-Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

.nutriInformationBackground {
	background: #f8f8fa;
	padding-top: 40px;
	padding-bottom: 60px;
	padding-left: 40px;
}

.nutriInformationWrap {
	width: 960px;
	margin: 0 auto;
}

.foodInformationCategory {
	font-family: 'SUIT-Medium'; font-size : 14px;
	border-bottom: 1px solid #9BA1AA;
	width: fit-content;
	padding-bottom: 1px;
	color: #9BA1AA;
	margin-bottom: 15px;
	width: fit-content;
	padding-bottom: 1px;
	font-size: 14px;
}

.foodInformationCategory span {
	font-family: 'SUIT-Bold';
	margin-left: 4px;
}

.foodInformationTitle {
	font-family: 'SUIT-Bold';
	padding: 60px 40px;
	background: #fff;
	border: 1px solid #E6E9ED;
	border-radius: 20px;
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	color: #101219;
}

.foodInformationTable {
	font-family: 'SUIT-SemiBold';
	border-collapse: collapse;
	width: 100%;
	font-size: 18px;
	color: #2F414F;
	line-height: 140%;
	border-left: 1px solid #E6E9ED;
	border-right: 1px solid #E6E9ED;
	border-bottom: 1px solid #E6E9ED;
}

.tableBorderTop {
	border-top: 1px solid #E6E9ED !important;
}

.tableBorderTopNone {
	border: none;
}

.foodInformationTable td {
	padding: 20px;
}

.nutriInformation {
	font-family: 'SUIT-SemiBold';
	font-size: 20px;
	line-height: 20px;
	color: #101219;
	margin-top: 60px;
	margin-bottom: 30px;
}

#foodForm .detailListSearchWrapInfo {
	display: flex;
	width: 100%;
	height: 64px;
	box-shadow: 0px 2px 10px #eee;
	border-radius: 32px;
	margin: 30px auto 60px auto;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	background: #fff;
}

#foodForm .detailListSearchWrapInfo .detailListSearch {
	border: none !important;
	font-family: 'SUIT-Bold';
	font-size: 20px;
	color: #c4c8ce;
}

#foodForm .detailListSearchWrapInfo .detailListSearch:focus,
	.detailListSearch:focus-visible, .detailListSearch:target {
	color: #101219;
	-webkit-text-fill-color: #101219;
}

#foodForm input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #fff inset;
	-webkit-text-fill-color: #101219;
}

#foodForm input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

#foodForm .detailListSearchWrapInfo .detailListSearch:focus {
	outline: none;
	background: transparent;
	color: #101219;
}

#foodForm .detailListSearchWrapInfo .searhBoxK {
	width: 124px;
	height: 64px;
	border-radius: 32px;
	background: #03BDFF;
	background: linear-gradient(90deg, #03BDFF 0%, #18A4FF 100%);
	border-color: transparent;
	cursor: pointer;
}

#foodForm .detailListSearchWrapInfo .searhBoxK img {
	width: 30px;
	height: 30px;
}

.foodInformationNutrient {
	padding: 30px 20px 40px;
	background: #fff;
	border: 1px solid #E6E9ED;
	border-radius: 20px;
}

.foodInformationNutrientCal {
	width: fit-content;
	background: #18A4FF;
	color: #fff;
	margin: 40px 10px 20px 0px;
	padding: 0px 15px;
	border: 1px solid #E6E9ED;
	border-radius: 24px;
	line-height: 40px;
	height: 42px;
	font-weight: 600;
	font-size: 18px;
}

.nutritionWarning {
	background-image: url(https://cdn.pillyze.io/web/img/ic_info.png);
	background-repeat: no-repeat;
	background-size: 19px;
	background-position-y: 1px;
	margin-top: 20px;
	color: #C4C8CE;
	padding-left: 22px;
}

.nutritionWarningWrap p {
	font-family: 'SUIT-SemiBold';
	font-size: 16px;
	line-height: 140%;
	color: #aeb0b3;
	margin-left: 4px;
}

.nutritionWarningWrap {
	display: flex;
}

.foodInformationTable tr td:first-child {
	width: 305px;
	background: #F8F8FA;
	text-align: left;
}

.foodInformationTable tr td:last-child {
	text-align: right;
}

.leftColDetail {
	display: flex;
	align-items: center;
}

.leftColDetail .indentIcon {
	width: 15px;
	height: 12px;
	margin-right: 10px;
}

.leftColDetail p {
	color: #787E8B;
	margin: 0;
}

.foodInformationTable tr:not(:first-child) td:first-child {
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: inherit;
}

/* .foodInformationTable tr:nth-child(3) td:first-child { */
/* 	text-decoration: none; */
/* } */

.foodInformationTable tr td.leftColDetail{
	text-decoration:none;
}

.foodInformationTable tr td.leftColDetail p {
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: inherit;
}