@charset "UTF-8";

@font-face {xzxccxcxxz
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.noticeWrap{
	background:#FBF9F9;
	padding:46px 0px;
}

.noticeBox{
	display:flex;
}

.noticeHead{
	border:1px solid #ddd;
	border-radius:5px;
	color:#ddd;
	font-size:20px;
	font-weight:regular;
}

.noticeBody{
	color:#000;
	font-size:26px;
	font-weight: medium;
}

.flexK{
	display:flex;
}