@charset "UTF-8";

body{
	background-color: #d0f5ff;	
	margin: 0px;
}
/*기본 영역 세팅 (시작)*/
#warp{
	width: 1920px;
	background-color: white;
	margin: auto;
	height:1770px;
	display: flex; 
}
#Category{
	width: 357px;
	height:1750px;
	background-color: #9FE2FA99;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 10px 30px;
	flex-direction: column;
}
#main{
	width: 1453px;
	padding: 0px 50px;
}
#top{
	height: 110px;
	width: 1433px;
	padding: 0px 10px ; 
	display:flex;
	justify-content:space-between;
	align-items:center;
/* 	border-bottom: 1px solid #18A4FF ; */
}
/*기본 영역 세팅 (끝)*/
/*CATEGORY 하위*/
#Category img{
	width: 200px;
	height: 90px;
	margin-bottom: 100px;
}
/*CATEGORY 하위(끝)*/
/*CATEGORY-셀렉트 박스~*/
#customSelect {
  position: relative;
  width: 250px;
}

.SelectHealth {
  padding: 10px;
  cursor: pointer;
  font-size: 35px;
}

.select-itemsHealth {
  width: 100%;
  display:none;
  margin-left: 35px;
  font-size: 26px;
}

.select-itemsHealth div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #9FE2FA99 ;
}
.select-itemsHealth div:hover {
	border-bottom: 1px solid #18A4FF ;
}

.select-show {
  display: block;
}
/*CATEGORY-셀렉트 박스~(끝)*/
/*CATEGORY-셀렉트 박스 푸드~*/
.SelectFood {
  padding: 10px;
  cursor: pointer;
  font-size: 35px;
}
.select-itemsFood {
  width: 100%;
  display:none;
  margin-left: 35px;
  font-size: 26px;
}

.select-itemsFood div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #9FE2FA99 ;
}
.select-itemsFood div:hover {
	border-bottom: 1px solid #18A4FF ;
}
.select-show {
  display: block;
}
/*CATEGORY-셀렉트 박스~(끝)*/
/*CATEGORY-셀렉트 박스 질병~*/
.SelectDisease {
  padding: 10px;
  cursor: pointer;
  font-size: 35px;
}
.select-itemsDisease {
  width: 100%;
  display:none;
  margin-left: 35px;
  font-size: 26px;
}

.select-itemsDisease div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #9FE2FA99 ;
}
.select-itemsDisease div:hover {
	border-bottom: 1px solid #18A4FF ;
}
.select-show {
  display: block;
}
/*CATEGORY-셀렉트 박스~(끝)*/
/*TOP 하위*/
/*SIGN UP ... 회원 로그인 화면*/
#top div{
	display: flex;
}
#top input {
	height: 75px;
	width: 501px;
	background-color: #F3F3F3;
	border: 0px;
	font-size: 26px;
	padding: 0px 30px;
}
#top input::placeholder {
	color: #B4B4B4;
}
#top #user{
display: flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
width: 333.28px;
height: 72px;

font-size: 30px;
font-weight: 700;
}
#top #user .Profile{
	width: 72px;
	height: 72px;
	border-radius: 100%;
    object-fit: cover; /* 이미지를 요소에 맞춰 자르기 */
}
#top #user  .icon{
	height: 60px;
}
/*SIGN UP ... 비회원화면*/
#top #signupBox{
	width: 128px;
	height: 65px;
	border-radius: 14px;
	border: 1px solid #03BDFF;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: 700;
	color: #03BDFF;
}
/*TOP 하위(끝)*/
/*MAIN 하위*/
#main #title{
	background-color: red;
	font-size: 46px;
	font-weight: 700;	
}
/*MAIN 하위(끝)*/
