@charset "UTF-8";

body{
	background-color: #d0f5ff;	
}
.top-nav {
  background-color: #0080ff; /* 네비게이션 바 배경색 */
  padding: 10px 0; /* 네비게이션 바 상하 여백 */
}

.top-nav ul {
  list-style-type: none; /* 목록 스타일 제거 */
  margin: 0;
  padding: 0;
  text-align: center; /* 항목 가운데 정렬 */
}

.top-nav ul li {
  display: inline; /* 항목을 가로로 정렬 */
}

.top-nav ul li a {
  display: inline-block;
  color: #00ffff; /* 링크 텍스트 색상 */
  padding: 10px 20px; /* 항목 간 여백 */
  text-decoration: none; /* 링크 밑줄 제거 */
}

.top-nav ul li a:hover {
  background-color: #1b2fbe; /* 호버 시 배경색 변경 */
}
/* 드롭다운 메뉴 숨기기 */
.dropdown-content {
  display: none;
  position: absolute;
  top: 220px; /* 부모 요소의 상단에서 50% 지점으로 이동 */
  transform: translate(-50%, -50%); /* 요소의 중심을 부모 요소의 중심으로 이동 */
  background-color: #ffffff;
  color:blue;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* 메뉴 호버 시 드롭다운 메뉴 보이기 */
.dropdownA:hover .dropdown-content {
  display: block;
  left: 37%; /* 부모 요소의 왼쪽에서 50% 지점으로 이동 */
}
.dropdownB:hover .dropdown-content {
  display: block;
  left: 45%; /* 부모 요소의 왼쪽에서 50% 지점으로 이동 */
}
.dropdown3:hover .dropdown-content {
  display: block;
  left: 53%; /* 부모 요소의 왼쪽에서 50% 지점으로 이동 */
}
.dropdown4:hover .dropdown-content {
  display: block;
  left: 62%; /* 부모 요소의 왼쪽에서 50% 지점으로 이동 */
}

/* 드롭다운 메뉴 항목 스타일링 */
.top-nav ul li .dropdown-content a {
  color: black;
  padding: 30px 16px;
  text-decoration: none;
  display: block; /* 항목을 수직으로 배치 */
}

/* 드롭다운 메뉴 항목 호버 시 배경색 변경 */
.dropdown-content a:hover {
  background-color: #ddd;
}


