<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hac.mapper.BoardMapper">

	<select id="getList" resultType="com.hac.dto.boardDto.BoardDto">
		select * from board limit #{limitIndex} , 5
	</select>
	
	<select id="searchList" resultType="com.hac.dto.boardDto.BoardDto">
		select * from board where B_TEXT like concat('%', #{word}, '%') limit #{limitIndex}, 5;
	</select>
	
	<select id="searchListCount" resultType="int">
		select count(*) from board where B_TEXT like concat ('%',#{word},'%');
	</select>
	
	<select id="totalContent" resultType="int">
		select count(*) from board;
	</select>

</mapper>