<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hac.mapper.CalorieMapper">

<insert id="addFoodList" parameterType = "java.util.List">
	INSERT INTO calorieLog(U_no,C_foodName,C_servingAmount,C_calorie,C_meal) values
    <foreach collection="com.hac.dto.searchDto.MyFoodDto" item="food" open="(" close=")" separator=",">
        #{food.U_no},#{food.foodName},#{food.servingAmount},#{food.calorie},#{food.meal}
    </foreach>
</insert>
</mapper>